In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [2]:
bank_full = pd.read_csv('bank_full.csv')
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,...,0,0,0,0,0,0,0,0,1,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,...,0,0,0,0,0,0,0,1,0,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,...,0,0,0,0,0,0,0,1,0,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,...,1,0,0,0,0,0,0,0,1,1

In [3]:
bank_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45211 non-null  int64
 1   job                           45211 non-null  object
 2   marital                       45211 non-null  object
 3   education                     45211 non-null  object
 4   default                       45211 non-null  object
 5   balance                       45211 non-null  int64
 6   housing                       45211 non-null  object
 7   loan                          45211 non-null  object
 8   contact                       45211 non-null  object
 9   day                           45211 non-null  int64
 10  month                         45211 non-null  object
 11  duration                      45211 non-null  int64
 12  campaign                      45211 non-null  int64
 13  pdays                         45211 non-null  int64
 14  previous                      45211 non-null  int64
 15  poutcome                      45211 non-null  object
 16  y                             45211 non-null  object
 17  y_binary                      45211 non-null  int64
 18  housing_loan                  45211 non-null  int64
 19  credit_in_default             45211 non-null  int64
 20  personal_loans                45211 non-null  int64
 21  prev_failed_to_subscribe      45211 non-null  int64
 22  prev_subscribed               45211 non-null  int64
 23  job_management                45211 non-null  int64
 24  job_tech                      45211 non-null  int64
 25  job_entrepreneur              45211 non-null  int64
 26  job_bluecollar                45211 non-null  int64
 27  job_unknown                   45211 non-null  int64
 28  job_retired                   45211 non-null  int64
 29  job_services                  45211 non-null  int64
 30  job_self_employed             45211 non-null  int64
 31  job_unemployed                45211 non-null  int64
 32  job_maid                      45211 non-null  int64
 33  job_student                   45211 non-null  int64
 34  married                       45211 non-null  int64
 35  single                        45211 non-null  int64
 36  divorced                      45211 non-null  int64
dtypes: int64(27), object(10)
memory usage: 12.8+ MB

In [4]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

# convert to a number so we can feed to machine learning algorithm
bank_full = bank_full.apply(le.fit_transform)
bank_full.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,40,4,1,2,0,3036,1,0,2,4,...,0,0,0,0,0,0,0,1,0,0
1,26,9,2,1,0,945,1,0,2,4,...,0,0,0,0,0,0,0,0,1,1
2,15,2,1,1,0,918,1,1,2,4,...,0,0,0,0,0,0,0,1,0,0
3,29,1,1,3,0,2420,1,0,2,4,...,0,0,0,0,0,0,0,1,0,0
4,15,11,2,3,0,917,0,0,2,4,...,1,0,0,0,0,0,0,0,1,1

In [5]:
bank_full

,age,job,marital,education,default,balance,housing,loan,contact,day,...,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,40,4,1,2,0,3036,1,0,2,4,...,0,0,0,0,0,0,0,1,0,0
1,26,9,2,1,0,945,1,0,2,4,...,0,0,0,0,0,0,0,0,1,1
2,15,2,1,1,0,918,1,1,2,4,...,0,0,0,0,0,0,0,1,0,0
3,29,1,1,3,0,2420,1,0,2,4,...,0,0,0,0,0,0,0,1,0,0
4,15,11,2,3,0,917,0,0,2,4,...,1,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,33,9,1,2,0,1741,0,0,0,16,...,0,0,0,0,0,0,0,1,0,0
45207,53,5,0,0,0,2639,0,0,0,16,...,0,1,0,0,0,0,0,0,0,0
45208,54,5,1,1,0,5455,0,0,0,16,...,0,1,0,0,0,0,0,1,0,0
45209,39,1,1,1,0,1584,0,0,1,16,...,0,0,0,0,0,0,0,1,0,0
45210,19,2,1,1,0,3779,0,0,0,16,...,0,0,0,0,0,0,0,1,0,0

In [6]:
@ the row names are really long
new_bank_full = bank_full.loc[:,'housing_loan                ':'divorced                    ']

In [7]:
new_bank_full

,housing_loan,credit_in_default,personal_loans,prev_failed_to_subscribe,prev_subscribed,job_management,job_tech,job_entrepreneur,job_bluecollar,job_unknown,job_retired,job_services,job_self_employed,job_unemployed,job_maid,job_student,married,single,divorced
0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
2,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
45207,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
45208,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
45209,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
45210,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0

In [8]:
X = new_bank_full
# below 1 means will qualify for the loan, 0 means will not
y = bank_full['y']

In [9]:
LogReg = LogisticRegression()
LogReg.fit(X, y)

LogisticRegression()

In [10]:
# more info on where below comes from here: https://colab.research.google.com/drive/14v7aWleO6yw3qxgh1XnQ11SlSNnuChY5?usp=sharing#scrollTo=oDElV8v6yTd2
new_user = np.array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]).reshape(1, -1)
y_pred = LogReg.predict(new_user)
# 1 is recommended for special offer 0 is not recommended
y_pred

array([0])